<html>
<head>
	<title>Like Home</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
</head>

<body>
	<header>
		<h1>LIKE HOME</h1>
	</header>

	<main>
		<h2>WHAT IT IS ABOUT?</h2>
		<div>
			<img src="">
			<img src="">
			<img src="">
			<img src="">
		</div>

		<h3>FIND A HOME FOR THE HOLIDAYS</h3>
		<input type=""></input>

	</main>

	<footer>


	</footer>


</body>
</html>